.main-container{
    margin:0px;
    padding: 0px;
    height:846px;
    width:1492px;
    background-color: #000;  
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.loading{
    height:5px;
    width:1200px;
    border:1px solid #fff;
    background-color: #fff;
    /* display: none; */
    animation: loading-animation 5s;
}
@keyframes loading-animation {
    0%{width:0px;display: block;}
    99.99%{width:1200px; display: none;}
    100%{display: none;}
}
.visible{
    display: block;
}
.hidden{
    display: none;
}
.withdrawal{
    position: relative;
    left:500px;
    width:400px;
    display: flex;
    box-sizing: border-box;
    margin:20px 0px;
    /* border: 1px solid #fff; */
}
.main-button{
    height: 40px;
    width: 180px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    transition: all 0.5s ease-out;
    cursor: pointer;
    font-weight: bolder;
    margin-top:20px;
    border:1px solid #fff;
    margin-left:20px
}
.main-button:hover{
    background-color: #fff;
    color: #000;
}
.balance-enquiry{
    position: relative;
    left:400px;
    width:500px;
    display: flex;
    box-sizing: border-box;
    margin:20px 0px;
    /* border: 1px solid #fff; */
}
.mini-statement{
    position: relative;
    left:420px;
    width:500px;
    display: flex;
    box-sizing: border-box;
    margin:20px 0px;
    /* border: 1px solid #fff; */
}
.pin-change{
    position: relative;
    left:-420px;
    width:500px;
    display: flex;
    box-sizing: border-box;
    margin:20px 0px;
    /* border: 1px solid #fff; */
}
.pin-generation{
    position: relative;
    left:-420px;
    width:500px;
    display: flex;
    box-sizing: border-box;
    margin:20px 0px;
    /* border: 1px solid #fff; */
}
.deposit{
    position: relative;
    left:-420px;
    width:500px;
    display: flex;
    box-sizing: border-box;
    margin:20px 0px;
    /* border: 1px solid #fff; */
}
.fast-cash{
    position: relative;
    left:510px;
    width:400px;
    display: flex;
    box-sizing: border-box;
    margin:20px 0px;
    /* border: 1px solid #fff; */
}
footer{
    position: absolute;
    top:800px
}
footer a{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}